.error_mensaje{
    color: red;
    display: none;
}

.visible{
    display: block;
}

#nombre{
    color: black;
}
#clave{
    color: black;
}

.custom-background{
    --ion-background-color: #80DAEB;
}

.top{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-style: solid ;
    border-color: aliceblue;
    background-color: #80DAEB;
    .volver {
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Alinea los elementos a la izquierda */
        margin-top: 5px; 

        ion-button{
            width: auto;
        }
    }

    .inicio{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        color:black;
    }

}

.datos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center ;
    align-items: center;

    .user{
        width: 50vh;
        background-color: #80DAEB;

        .card1{
            background-color: #fff;
        }

        #nombre{
            color: #000;
            
        }
    }

    .clave{
        width: 50vh;

        .card2{
            background-color: #fff;
        }

        #clave{
            color: #000;
        }
    }
}

.opciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    .opcional:hover{
        transition: .3s ease;
        color: red;
    }

    .opcional{
        transition: .3s ease;
    }

}

.recuperar_clave{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    .opcional2:hover{
        transition: .3s ease;
        color: red;
    }
    
    .opcional2{
        transition: .3s ease;
    }

}

