<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ingresa a tu clase</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding custom-background" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ingresa a tu clase</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="volver">
    <ion-button class="boton-volver" (click)="volver()">Volver</ion-button>
  </div>

  <div class="qr">
    <ion-button class="escaner" expand="full" color="danger" (click)="startScan()">
        <ion-icon slot="start" name="qr"></ion-icon>
        Iniciar Escaneo
    </ion-button>
  
    <video #video [hidden]="!scanActive" width="100%"></video>
    <canvas #canvas hidden></canvas>
  
    <ion-button expand="full" (click)="stopScan()" color="danger" *ngIf="scanActive">
        <ion-icon slot="start" name="close"></ion-icon>
        Detener escaneo
    </ion-button>
  
    <ion-card *ngIf="qrResult">
        <ion-card-header>
            <ion-card-title>Se a escaneado correctamente</ion-card-title>
        </ion-card-header>
    </ion-card>
  </div>
</ion-content>
