<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding custom-background" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Register</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="volver">
    <ion-button (click)="volver()">Volver</ion-button>
  </div>
  <div class="titulo">
    <h1 class="register">
      Registro
    </h1>
  </div>

  <div class="cDatos">
    <ion-card class="cardNombre">
      <ion-card-content>
        <ion-input [(ngModel)]="nombre" minlength="3">Nombre:</ion-input>
        <ion-label class="error_mensaje" [class.visible]="nombreValido">El nombre debe poseer 3 digitos como minimo</ion-label>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="cDatos">
    <ion-card class="cardApellido">
      <ion-card-content>
        <ion-input [(ngModel)]="apellido" minlength="3">Apellido:</ion-input>
        <ion-label class="error_mensaje" [class.visible]="apellidoValido">El apellido debe poseer 3 digitos como minimo</ion-label>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="cDatos">
    <ion-card class="cardRut">
      <ion-card-content>
        <ion-input [(ngModel)]="rut" maxlength="10">RUT(Sin puntos y con guion):</ion-input>
        <ion-label class="error_mensaje" [class.visible]="rutValido">El rut debe poseer 12 digitos</ion-label>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="cDatos">
    <ion-card class="cardEdu">
      <ion-card-content>
        <ion-label class="carrera">Carrera</ion-label>
        <ion-select [(ngModel)]="carrera">
          <ion-select-option value="1">Ingeniería en informatica</ion-select-option>
          <ion-select-option value="2">Tecnico en programación</ion-select-option>
          <ion-select-option value="3">Informatica Biomedica</ion-select-option>
          <ion-select-option value="4">Mecanica</ion-select-option>
        </ion-select>
      </ion-card-content>
    </ion-card>
    <ion-label class="error_mensaje" [class.visible]="carreraValida">El nombre debe poseer 3 digitos como minimo</ion-label>
  </div>
  <app-region-comuna 
  (regionSeleccionada1)="regionSeleccionada = $event"
  (comunaSeleccionada1)="comunaSeleccionada = $event"
  ></app-region-comuna>
  <div class="registrar">
    <ion-button (click)="registrar()">Registrar</ion-button>
  </div>
</ion-content>
